@import url(style.css);

/*estilos de la seccion portada*/

#portada {
    background-color: #ffffff;
    padding-top: 50px;
}


.foto_portada {
    background-position: center;
    background-size: cover;
    height: 300px;

    & img {
        width: 700px;
        height: 250px;
    }
}

.textos_portada {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;

    & h1 {
        color: var(--colorazul);
    }

}

#portada2 {
    background-image: url("../IMAGE/image\ 1.png");
    background-size: cover;
    background-position: center;
}


.portada2 {
    height: 600px
}

.boton_portada {
    height: 100%;
    margin-top: 250px;
    margin-left: 280px;
    align-items: center;
}

.sugerencias {
    background-color: #043D07;

    & h4 {
        text-align: center;
        color: #ffffff;
    }

}

.espacio {
    background-color: transparent;
    width: 100px;
}

.productos_titulo h3 {
    text-align: center;
    color: var(--colorazul);
    padding-bottom: 80px;
}

.SERVICIOS {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    & p {
        text-align: center;
    }
}

.servicio_foto img {
    width: 100%;
    height: auto;
    border-radius: 15%;
}

#NOSOTROS {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;

    & h2 {
        font-size: 100px;
    }

}

.US {
    padding-left: 160px;
}

.cncnsimagen {
    display: flex;
    flex-direction: column;
    justify-content: end;

    & img {
        width: 740px;
        height: 830px;
    }
}

.carru_foto img {
    width: 453px;
    height: 561px;
    border-radius: 15%;
}

#VISMIS {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;

    & h2 {
        font-size: 100px;
    }

}

.VIS {
    padding-left: 160px;
}

.MIS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 160px;
}

.mapa {
    display: flex;
    justify-content: center;
    width: 1391;
    height: 528;
}